/* main */


/* 배경 이미지 */
.main_banner_01 {
    background-image: url(../../assets/images/mainBanner_01.png);
    background-size: cover;
}
.main_banner_02 {
    background-image: url(../../assets/images/mainBanner_02.png);
    background-size: cover;
}
.main_banner_03 {
    background-image: url(../../assets/images/mainBanner_03.png);
    background-size: cover;
}
.main_banner_04 {
    background-image: url(../../assets/images/mainBanner_04.png);
    background-size: cover;
}

/* 좌우 컨트롤러 버튼 */
.btn_arrow_left {
    background-image: url(../../assets/images/btn_arrow_left_white.svg);
    background-size: cover;
    width: 24px;
    height: 24px;
}

.btn_arrow_right {
    background-image: url(../../assets/images/btn_arrow_right_white.svg);
    background-size: cover;
    width: 24px;
    height: 24px;
}

/* 마우스 아이콘 ic_scrolldown */

.ic_scrolldown {
    width: 36px;
    height: 43px;
    background: transparent url('../../assets/images/ic_scrolldown.svg') 0% 0% no-repeat padding-box;
}

.ic_scrolldown02 {
    width: 24px;
    height: 24px;
    background: transparent url('../../assets/images/ic_scrolldown02.svg') 0% 0% no-repeat padding-box;

}

/* introduce */
.introduce1 {
    background-image: url('../../assets/images/introduce1.png');
    background-size: cover;
    border-radius: 12px
}
.introduce2 {
    background-image: url('../../assets/images/introduce2.png');
    background-size: cover;
    border-radius: 12px
}
.introduce3 {
    background-image: url('../../assets/images/introduce3.png');
    background-size: cover;
    border-radius: 12px
}

/* news */
.news1 {
    background-image: url('../../assets/images/news1.png');
    background-size: cover;
    border-radius: 12px;
}
.news2 {
    background-image: url('../../assets/images/news2.jpeg');
    background-size: cover;
    border-radius: 12px;
}
.news3 {
    background-image: url('../../assets/images/news3.jpeg');
    background-size: cover;
    border-radius: 12px;
}
.news4 {
    background-image: url('../../assets/images/news4.jpeg');
    background-size: cover;
    border-radius: 12px;
}